*.ipynb
.ipynb_checkpoints
*.yml
!*.tmpl.yml
docker-context/hana-xe/*
!docker-context/hana-xe/hxe-config.json
docker-context/oracle/DbSingleInstance/dockerfiles/*/otn-downloader
docker-mount/*
!.keepme